{% extends 'reservas/base.html' %}

{% block center %}
  <h2> Lista de Reservas</h2>

  <a href="{% url 'criar_reserva' %}" class="btn btn-success mb-3">Nova Reserva</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome da empresa</th>
        <th>CNPJ</th>
        <th>Categoria</th>
        <th>Stand</th>
        <th>Data da Reserva</th>
        <th>Quitado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for reserva in reservas %}  
      <tr>
        <td>{{ reserva.nome_empresa }}</td>
        <td>{{ reserva.cnpj }}</td>
        <td>{{ reserva.categoria }}</td>
        <td>{{ reserva.stand }}</td>
        <td>{{ reserva.data_reserva }}</td>
        <td>{{ reserva.quitado }}</td>
        <td>
          <a href="{% url 'reserva_editar' id=reserva.id %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'reserva_remover' id=reserva.id %}" class="btn btn-danger btn-sm">Remover</a>
          <a href="{% url 'reserva_detalhar' id=reserva.id %}" class="btn btn-secundary btn-sm">Detalhar</a>
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
{% endblock %}